<app-navbar></app-navbar>
<div class="container">

    <h1>Create New Room</h1>

    <a routerLink="/room" class="btn btn-primary">Back</a>

        
    <form [formGroup]='form' (ngSubmit)="submit()" >


        <div class="form-group" >
        <label for="name">Name:</label>
         <input formControlName="name" id="name"  type="text"  class="form-control">
            <div *ngIf="r['name'].touched && r['name'].invalid" class="alert alert-danger">
             <div *ngIf="r['name'].errors && r['name'].errors['required']">Name of the room is required.
             </div>
            </div>
        </div>

        <div class="form-group">
            <label for="body">Number Of the Room</label>
            <textarea formControlName="numberRoom" id="numberRoom" type="text" class="form-control"> </textarea>
            <div *ngIf="r['numberRoom'].touched && r['numberRoom'].invalid" class="alert alert-danger">
                <div *ngIf="r['numberRoom'].errors && r['numberRoom'].errors['required']">Number Of the room is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="name">Status:</label>
             <input formControlName="status" id="status"  type="text"  class="form-control">
                <div *ngIf="r['status'].touched && r['status'].invalid" class="alert alert-danger">
                 <div *ngIf="r['status'].errors && r['status'].errors['required']">Status of the room is required.
                 </div>
                </div>
            </div>

            <div class="form-group">
                <label for="telRoom">telRoom:</label>
                 <input formControlName="telRoom" id="telRoom"  type="text"  class="form-control">
                    <div *ngIf="r['telRoom'].touched && r['telRoom'].invalid" class="alert alert-danger">
                     <div *ngIf="r['telRoom'].errors && r['telRoom'].errors['required']">Tel of the room is required.
                     </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="image">image:</label>
                     <input formControlName="image" id="image"  type="link"  class="form-control">
                        <div *ngIf="r['image'].touched && r['image'].invalid" class="alert alert-danger">
                         <div *ngIf="r['image'].errors && r['image'].errors['required']">Put an image please.
                         </div>
                        </div>
                    </div>  
                    
                    <div class="form-group">
                        <label for="description">description:</label>
                         <input formControlName="description" id="description"  type="text"  class="form-control">
                            <div *ngIf="r['description'].touched && r['description'].invalid" class="alert alert-danger">
                             <div *ngIf="r['description'].errors && r['description'].errors['required']">Description of the room is required.
                             </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="maxCapacity">maxCapacity:</label>
                             <input formControlName="maxCapacity" id="maxCapacity"  type="text"  class="form-control">
                                <div *ngIf="r['maxCapacity'].touched && r['maxCapacity'].invalid" class="alert alert-danger">
                                 <div *ngIf="r['maxCapacity'].errors && r['maxCapacity'].errors['required']">Number person of the room Please.
                                 </div>
                                </div>
                            </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>

    </form>

</div>