<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">SALIHAT HOTEL</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>


      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>

<!-- 
      <li class="nav-item" *ngIf="showUserBoard">
        <a href="/admin" class="nav-link" routerLink="informationtotal">Votre Reservation</a>
      </li> -->
      <!-- <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="room">Room</a>
      </li> -->


      <li class="nav-item" >
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="room">Room</a>
      </li>
    

      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="contact">Contact</a>
      </li>

      
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="informationtotal">About Us</a>
      </li>
  
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" *ngIf="isLoggedIn" routerLink="/user">Receptionist</a>
      </li>
  
    </ul>
  
    <img  class="nav-link" alt="Logo Adidas" src="https://i.pinimg.com/originals/b7/ff/42/b7ff42b0e04b21f463490c3d582210c9.gif" width="100px" height="100px">

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <!-- <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li> -->
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()" routerLink="/home">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">

    <!-- <app-accueil></app-accueil> -->
    <router-outlet></router-outlet>
  </div>
</div>
