.table{
     background-color: rgb(219, 226, 226);
}

img:hover{
     transition: 0.5s;
     -ms-transform: scale(1.5); /* IE 9 */
     -webkit-transform: scale(1.5); /* Safari 3-8 */
     transform: scale(1.5);
     }

     