<!-- <div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        <strong>{{ currentUser.username }}</strong> 
          <div class="card card-container"> 
      <img
        id="profile-img"
        src="https://i.pinimg.com/474x/e5/6b/84/e56b841924ac729935e858cb59535fb7.jpg" width="100px" height="100px"
        class="profile-img-card"
      />Profile
      </div>
      </h3>
    </header>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <strong>Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>
  </div>
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>
   -->