

<body>

<app-navbar></app-navbar>
 
<br>
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" id="home">
    <img class="w-100" src="assets/img/1Fjpg.jpg" alt="Image" width="300px" height="350px">
    <!-- <div class="w3-display-bottomleft w3-padding-large w3-opacity"> -->
    <!-- <h1 class="w3-xxlarge">MERCI POUR VOTRE CONFIANCE</h1> -->
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1000px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="assets/img/3F.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>
    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Presentation de l'hotel</h1><br>
      <h5 class="w3-center">Tradition since 1996</h5>
      <p class="w3-large">

        SALIHAT HOTEL occupe un immeuble des années 30 et conserve l’esprit art déco de cette époque, de part sa décoration.
        Appartenant à la même famille depuis les années 40, ce sont depuis trois générations qui  gèrent successivement l’un des derniers hôtels indépendants à Lyon
        
        D’une capacité de 98 chambres, le Helder est idéalement situé à proximité immédiate des stations de transports en commun.
        
        Un garage privé à 290m. de l’hôtel vous est proposé sur réservation uniquement et selon disponibilité, en supplément tarifaire.
        
        L’hôtel est entièrement non fumeur et n’accepte pas les animaux, sauf chiens guides ou d’assistance.
        
        Nous ne disposons pas d’équipement adéquat à l’accueil des PMR.
        
        Notre réception, assurée 7 jours sur 7 et 24H sur 24. est à votre écoute pour tout renseignement et réservation. <span class="w3-tag w3-light-grey">A votre Disposition</span>.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">    WIFI gratuit haut débit dans tout l’hôtel
        Un coffre fort disponible à la réception entre 8h et 12h
        Un garage privé à 290m de l’hôtel, uniquement sur réservation et selon disponibilité. En supplément à 16€ pour 24 heures</p>
    </div>
  </div>
  
  <hr>
  
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">INFORMATION:</h1><br>
      <h4> Nos chambres singles:</h4>
      <p class="w3-text-grey">Composées chacune d’un lit simple et équipées d’une salle de bain ou salle d’eau, avec sèche-cheveux et produits d’accueil.
        Vous disposez d’une chambre d’un minimum de 13,5M2 équipée d’un bureau, d’une télé satellite, d’un placard, d’une connexion Wifi et d’un téléphone.</p><br>
    
      <h4>Nos chambres twins:</h4>
      <p class="w3-text-grey">Composées chacune de deux lits simples, équipées d’une salle de bain ou salle d’eau avec sèche-cheveux et produits d’accueil.

        Vous disposez d’une chambre d’un minimum de 13,5M2 équipée d’un bureau, d’une télé satellite, d’un placard, d’une connexion Wifi, d’un téléphone.</p><br>
    
      <h4>Nos chambres doubles:</h4>
      <p class="w3-text-grey">Composées chacune d’un lit double, équipées chacune d’une salle de bain ou salle d’eau, avec sèche-cheveux et produits d’accueil.

        Vous disposez d’une chambre d’un minimum de 13,5M2, équipée d’un bureau, d’une télé satellite, d’un placard, d’une connexion Wifi, d’un téléphone.</p><br>
    
      <h4>Scrambled eggs</h4>
      <p class="w3-text-grey">Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</p><br>
    
      <h4>Autres types de chambre:</h4>
      <p class="w3-text-grey">composées soit d’1 grand lit + 1 petit, soit 3 petits lits,  toutes équipées d’une salle de bain ou douche avec sèche-cheveux et produits d’accueil.

        Vous disposez d’une chambre pouvant aller jusqu’à 23,5M2 équipée d’un bureau d’une télé satellite d’un placard d’une connexion Wifi, d’un téléphone et d’un balcon.</p>    
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <img src="assets/img/2F.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:90%"> <br><br>
      <img src="assets/img/4F.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:90%">
    </div>
  </div>
  <hr>

</div>


</body>




<app-footer></app-footer>
